html {
    --text-color: #fff;
    --control-color: #fe476e;
    --icon-color: invert(41%) sepia(78%) saturate(2246%) hue-rotate(320deg)
        brightness(99%) contrast(101%);
    --bg-color: #401c46;
}
